{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Panier</h1>
        </div>

        <table>
        {% for element in panier %}
            <tr>
                <td>
                    {{ element.plat.libelle }}
                </td>
                <td>
                    {{ element.plat.prix }}
                </td>
                <td>
                    <a href="/panier/del/{{ element.plat.id }}" class="btn btn-success">-</a>
                    {{ element.quantite }}
                    <a href="/panier/add/{{ element.plat.id }}" class="btn btn-success">+</a>
                </td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </table>

    </div>
</div>
{% endblock %}
